<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email" required>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onEditDone()">Done</button>
</form>

  