<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="!authService.loggedIn()">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!authService.loggedIn()" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/allPosts']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.loggedIn()" >Posts</a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="authService.loggedIn()">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/profile']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="authService.loggedIn()" >Profile</a>
            <a  class="dropdown-item" *ngIf="authService.loggedIn()" [routerLink]="['/addPost']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true}">Add Post</a>
            <a class="dropdown-item" *ngIf="authService.loggedIn()" (click)="onLogoutClick()">Logout</a>
          </div>
        </li>
      </ul>
      </div>
    </div>
  </nav>