<form>
    <div class="form-group">
      <label for="exampleInputPassword1">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberme" value="RememberMe" (click)="RememberMe()">
      <label class="form-check-label" for="exampleCheck1">Remember me</label><br>
      <span class="text-danger" (click)="onForgotClick()">Forgot password ?</span>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onLoginClick()">Login</button>
  </form>
  