<div class="container">
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="text" class="form-control" id="newPassword" aria-describedby="emailHelp" placeholder="New password" [(ngModel)]="newPassword" name="newPassword">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" class="form-control" id="newPassword" aria-describedby="emailHelp" placeholder="Confirm password" [(ngModel)]="confirmPassword" name="confirmPassword">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
</div>