<div class="card text-center" *ngFor="let post of posts">
  <div class="card-header">
    Post
  </div>
  <div class="card-body" >
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.body}}</p>
    <a class="btn btn-primary" (click)="onCommentClickToggle()">Comment</a>
  </div>
  <div class="card-footer text-muted" >
    {{post.date}}
  </div>
  <div class="card-footer">
  <a class="btn btn-primary" *ngIf="authService.loggedIn()" (click)="onEditClick(post._id)">Edit</a>
    <a class="btn btn-primary" *ngIf="authService.loggedIn()" (click)="onDeleteClick(post._id)">Delete</a><br>
  </div> 
  <div class="row list-unstyled" style="display:flex; justify-content: center">
    <i class="material-icons" (click)="onThumbsUpClick(post._id)">thumb_up</i>
    <li [(ngModel)]="totalLikes" name="totalLikes" value="totalLikes">{{totalLikes}}</li>
    <i class="material-icons"(click)="onThumbsDownClick(post._id)">thumb_down</i>
    <li [(ngModel)]="totalDisLikes" name="totalDisLikes" value="totalDislike">
      {{totalDislike}}</li>
  </div>
  <div class="jumbotron form-group" *ngIf="comment">
    <label for="exampleFormControlTextarea1">Comment</label>
    <textarea class="form-control" rows="3" id="commentBody" placeholder="Comment goes here !!" [(ngModel)]="commentBody" name="commentBody"></textarea><br>
    <button class="btn btn-danger" (click)="onDoneComment(post._id)">Done</button>
  </div>
</div><br>
<button class="btn btn-info" mat-button color="primary" (click)="onSubscribeClick()" >Subscribe Newsletter</button>
<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
