<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title of the topic" [(ngModel)]="title" name="title" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="content" name="content" placeholder="Description goes here" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onEditDone()">Done</button>
</form>

<!-- <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator> -->
