<div class="card text-center">
  <div class="card-header">
    Username- {{username}}
  </div>
  <div class="card-body" >
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{email}}</p>
  </div>
  <div class="card-footer text-muted" >
    Hello  {{name}}
  </div>
  <button type="submit" (click)="onEditButton()">Edit</button>
</div>
